body {
 background-color: #0a0a23;
}

#text {
 background-color: #0a0a23;
 color: #ffffff;
 padding: 10px;
}

#mainGame {
 max-width: 900px;
 max-height: 1200px;
 background-color: #ffffff;
 color: #ffffff;
 margin: 30px auto 0px;
 padding: 10px;
}

#stats {
 display: flex;
 border: 1px solid #0a0a23;
 padding: 5px;
 color: #0a0a23;
 justify-content: center;
}

#controls {
  display: flex;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
  justify-content: center;
}

#statList {
  display: none;
  border: 1px solid #0a0a23;
  color: black;
  background-image: linear-gradient(lightblue, pink);
}

.inStat {
  
}

#itemList {
  display: none;
  border: 1px solid #0a0a23;
  color: black;
  background-image: linear-gradient(lightblue, #ec797c);
}

.item {

}

#monsterStats {
 display: none;
 border: 1px solid #0a0a23;
 padding: 5px;
 color: #ffffff;
 background-color: #c70d0d;
}

#focusMenu {
  display: flex;
  justify-content: center;
  background-color: #0a0a23;
}

#focusImage {
  cursor: pointer;
}

#innerButtons {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: black;
  background-color: lightblue;
  justify-content: center;
  flex-wrap: wrap;
}

#innerButton1, #innerButton2, #innerButton3, #innerButton4, #innerButton5, #innerButton6 {
  cursor: pointer;
  color: #0a0a23;
  background-image: linear-gradient(lightblue, #ffac33);
  border: 3px solid #feac32;
  margin: 3px;
}

#levelingText {
  color: #0a0a23;
  background-image: linear-gradient(lightblue, pink);
  border: 2px solid #e695ea;
}

#itemShow {
  cursor: pointer;
  color: #0a0a23;
  background-image: linear-gradient(#fecc4c, #ec797c);
  border: 3px solid #feac32;
  margin: 3px;
}

.stat {
 padding-right: 10px;
}

#button1, #button2, #button3 {
 cursor: pointer;
 color: #0a0a23;
 background-image: linear-gradient(#fecc4c, #ffac33);
 border: 3px solid #feac32;
 margin: 3px;
}

#button4 {
  cursor: pointer;
   color: #0a0a23;
   background-image: linear-gradient(lightblue, #ffac33);
   border: 3px solid #feac32;
   margin: 3px;
}

#statShow {
  cursor: pointer;
  color: #0a0a23;
  background-image: linear-gradient(#fecc4c, pink);
  border: 3px solid #feac32;
  margin: 3px;
}
